@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.transition-colors {
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}


.active{
    background-color: #7000FF;
    color: white;
}


.animate-image-open{
    animation: image-open .8s cubic-bezier(.22,1,.36,1) both;
    -webkit-animation: image-open .8s cubic-bezier(.22,1,.36,1) both;
}

@keyframes image-open {
    0% {
        opacity: .8;
        transform: scale(1.04);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.activee{
    background-color: #7000FF;
    color: white;
}